.logo{
    width: 150px;
    height: 100px;
}

.bgsfondo1{
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)), url(media/switzerland-862870_1920.jpg);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 1080px;
}

.barranav{
 font-family: Nova Square, Rajdhani;
 color: #5d5d5d;
}


h1{
    color: darkred;
    font-family: Nova Square, Rejdhani;
    padding-top: 45px;
    letter-spacing: 40px;
 }

 .paragrafo1{
    text-align: center;
    height: 200px;
    font-size: 20px;
    margin: 50px;
 }

 .rotate{
    rotate: (-10);
 }

