.logo{
    width: 150px;
    height: 100px;
}

.bgsfondo1{
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)), url(media/switzerland-862870_1920.jpg);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 1080px;
}

.barranav{
 font-family: Nova Square, Rajdhani;
 color: #5d5d5d;
}

h1{
    color: darkred;
    font-family: Nova Square, Rejdhani;
    padding-top: 45px;
    letter-spacing: 40px;
 }

 .paragrafo1{
    text-align: center;
    height: 200px;
    font-size: 20px;
    margin: 50px;
 }

 .bgsfondo2{
  height: 1080px;
  background-color: #ececec;
  padding-top: 100px;
 }

.apici{
  color: darkred;
  font-size: 20px;
}

 .icone{
  font-size: 50px;
  color: darkred;
 }

 .sottoicone{
   text-align: center;
 }

h3{
  color: darkred;
}

.fakebut{
  background-color: darkred;
  height: 100px;
  width: 100px;
}


.btncolor{
  background-color: darkred;
  color: white;

}

.bgsfondoalberi{
  background: url(media/trees2.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.bgsfondo2color{
  background-color: #ececec;
}